---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog - Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>

		<h1>Astro tutorial</h1>
		<h2>Blog</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate exercitationem dignissimos consectetur deleniti ducimus, excepturi impedit aliquam sequi soluta dicta ipsum facilis rem cum minus nostrum, in, molestiae pariatur. Autem!
      Recusandae repellendus modi dignissimos, eius explicabo magnam labore veritatis debitis natus quis deleniti nam? Velit error magnam, natus ipsa pariatur in repellendus dignissimos, fugit, sed tempora omnis esse dolore neque!
      Aliquam quae sit tempore, omnis vitae natus animi a est alias dolorum, ratione dolores, commodi vel illum dolorem sequi suscipit cumque culpa ea consequatur. Debitis maiores magnam necessitatibus tempore dolore.
      Corporis at iusto quibusdam, eius soluta architecto maiores autem praesentium, in mollitia quisquam dolorum voluptas aliquid modi atque distinctio nulla velit itaque fugiat, perspiciatis tenetur aspernatur omnis eos. Culpa, accusantium.
      Aliquid impedit ullam, autem praesentium quia obcaecati id necessitatibus voluptatibus repellendus soluta qui fugiat accusantium harum itaque veniam natus quaerat eum nam numquam consequuntur? Consequuntur, unde hic? Iusto, provident temporibus.
      Ipsa impedit natus architecto dolores fugiat laboriosam exercitationem debitis earum eum quas unde delectus voluptatibus, consectetur velit quidem, itaque reiciendis saepe repellat recusandae aspernatur sapiente, suscipit magnam corporis alias! Magnam.
      Ullam facilis dolorem est praesentium ipsam commodi nesciunt nostrum dolore veritatis, amet, architecto vel. Eos nulla, sunt minima tenetur laboriosam animi assumenda deserunt vel temporibus dolor ea magni ipsam eveniet.
      Suscipit, sequi, deserunt in eaque earum quaerat, quidem ipsum architecto assumenda ratione aperiam eius quo dolorum soluta cumque nisi? Ipsum reiciendis a quos id aperiam dolores temporibus! Rem, ad eligendi.
      Cupiditate tempora similique earum officiis perferendis temporibus laborum enim exercitationem facere nihil rerum architecto unde, error pariatur. Nobis ducimus distinctio blanditiis dolor, consectetur quas. Neque deleniti voluptate dolore nobis esse.
      Enim dignissimos rem corrupti magni at fuga iusto praesentium distinctio commodi possimus similique numquam esse excepturi rerum assumenda tempora, error expedita velit veniam ducimus. Tenetur deleniti doloremque odit debitis beatae.
		</p>
	</body>
</html>
