---
import Counter from "../components/Counter.astro";
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Astro tutorial";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Awesome subtitle</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	<br />
	<Counter />
</BaseLayout>
